.form-location {
    display: inline;
    width: 25%;
    height: 5em;
    margin-bottom: 2.5%;
}

.form-label {
    margin: 25px 25px
}

.form-right {
    margin-left: 50px;
}

.flight-table {
    position: relative;
    left: 150px
    
}

.center {
    text-align: center;
}

.btn-color {
    background: #a4f3e3;
}

.form-left {
    position: relative;
    right: 330px
}

.form-labels {

}

.form-inputs {
    
}