<div class="container">
    <div class="jumbotron">

      <div>
        <label for="fromLocationInput" class="form-label">Depart: </label>
        <input id="fromLocationInput" class="" type="text">

        <label for="fromLocationInput">Arrive: </label>
        <input id="fromLocationInput" type="text">
      </div>

      <div>
        <label for="fromLocationInput">Depart Date: </label>
        <input id="fromLocationInput" type="text">

        <label for="fromLocationInput">Return Date: </label>
        <input id="fromLocationInput" type="text">
      </div>
      
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Status</div>
      <div class="panel-body">
        <h3>hi</h3>
      </div>
    </div>
  </div>
