<div class="container">
    <div class="jumbotron form-group">

      <div>
        <label for="fromLocationInput" class="form-label">Depart: </label>
        <input id="fromLocationInput" class="form-control form-location" type="text">

        <label for="fromLocationInput" class="form-label form-right">Arrive: </label>
        <input id="fromLocationInput" class="form-control form-location" type="text">
      </div>

      <div>
        <label for="fromLocationInput" class="form-label">Depart Date: </label>
        <input id="fromLocationInput" class="form-control form-location" type="date">

        <label for="fromLocationInput" class="form-label form-right">Return Date: </label>
        <input id="fromLocationInput" class="form-control form-location" type="date">
      </div>
      
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Flights</div>
      <div class="panel-body">
        <h3>hi</h3>
      </div>
    </div>
  </div>
