.col-form {
    display: inline;
}

.input-form {
    width: 45%;
    
}

.col-form-label {
    color: #bccfe7;
}

.form-right {
    position: relative;
    left: 15em;
}

.form-left {
    position: relative;
    right: 4em;
}