.col-form {
    display: inline;
}

.input-form {
    width: 45%;
    
}

.col-form-label {
    color: #bccfe7;
}

.form-right {
    position: relative;
    left: 15em;
}

.form-left {
    position: relative;
    right: 4em;
}

.form-label-address {
    display: inline;
    position: relative;
    right: 2.25em;
}

.input-form-address {
    display: inline;
    width: 56%;
}

.form-right-address {
    position: relative;
    left: 2.2em;
}