<!-- Ticket Form -->
<div class="container">
    <div class="main">
    <p id="response"></p>
    <form #loginForm="ngForm" (ngSubmit)="book()">
        <table width="100%" border="3">
            <!--First Name-->
            <tr>
                <td>First Name</td>
                <td><input type="text" name="fistName" id="firstName" [(ngModel)] = "firstName"></td>
            </tr>
            <!--Last Name-->
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lastName" id="lastName" [(ngModel)] = "lastName"></td>
            </tr>

            <!--Phone Number-->
            <tr>
                <td>Phone Number</td>
                <td><input type="text" id="phoneNo" name="phoneNo" [(ngModel)] = "formattedPh"></td>
            </tr>
            <!--Email-->
            <tr>
                <td>Email</td>
                <td><input type="email" id="email" name="email" [(ngModel)] = "email"></td>
            </tr>

            <tr>
                <td>Passport Number</td>
                <td><input type="passportNo" id="passportNo" name="passportNo" [(ngModel)] = "ticket.passportNo"></td>
            </tr>

            <!--Meals-->
            <tr>
                <td>Meals</td>
                <td>
                    <select id="meals" [(ngModel)]="ticket.meal" name="meals">
                        <option *ngFor="let meal of meals" [value]="meal.name">
                            {{meal.name}}
                        </option>
                    </select>
                </td>
            </tr>
            <!--Cabin Class-->
            <tr>
                <td>Cabin Class</td>
                <td><select id="cabinClass" [(ngModel)]="ticket.cabinClass" name="cabinClass">
                        <option *ngFor="let cabinClass of cabinClass" [value]="cabinClass.name"> 
                            {{cabinClass.name}}
                        </option> 
                    </select></td>
            </tr>
            <!--Expiry Date-->
            <tr>
                <td>Expiry Date</td>
                <td><input type="text" name="expiryDate" id="expiryDate" [(ngModel)] = "ticket.expiryDate"></td>
            </tr>
            <!--No. of Passengers-->
            <tr>
                <td>No. of Passengers</td>
                <td><input type="number" name="noOfPassengers" id="noOfPassengers" [(ngModel)] = "noOfPassengers"></td>
            </tr>
           
             <!--Checked bag-->
             <tr>
                <td>Checked bag</td>
                <td><input type="number" name="checkedBag" id="checkedBag" [(ngModel)] = "ticket.checkedBag"></td>
            </tr>
            <!--Carry-on bag-->
            <tr>
                <td>Carry-on bag</td>
                <td><input type="number" name="checkedBag" id="checkedBag" [(ngModel)] = "ticket.carryOnBag"></td>
            </tr>
            <!--Book Ticket Button-->
            <tr>
                <td></td>
                <td colspan="2"><button class="btn btn-secondary">Book Ticket</button></td>
            </tr>
        </table>
    </form>
    </div>
</div>