<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spaceship Booking Form</title>
         <!-- minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    </head>
    <body>
        <!--container-->
        <div class="container">
            <!--form-->
            <form class="form-group">
    
                <div id="form"><!--form-->
                    <h1 class="text-center">Spaceship Booking Form</h1>
                    <h3 class="text-white">Traveler Data</h3>
    
                  <div id="input0"><!--input0-->
                      <input type="text" id="input-group" placeholder="Full Name">
                      <input type="number" id="input-group" placeholder="Phone Number">
                      <input type="email" id="input-group1" placeholder="Email">
                    </div><!--input0-->
    
    
                <div id="input"><!--input-->
                    <input type="text" id="input-group" placeholder="Passport No.">
                    <input type="text" id="input-group" placeholder="Expiry Date">
                    <select  id="input-group" style="background: black;">
                        <option value="">Special Meals</option>
                        <option value="">Baby Meal</option>
                        <option value="">Diabetic Meal</option>
                        <option value="">Light Whole Food</option>
                        <option value="">Low Calorie Meal</option>
                        <option value="">Low Cholesterol Meal</option>
                    </select>
                    <select  id="input-group" style="background: black;">
                        <option value="">Cabin Class</option>
                        <option value="">Economy Class</option>
                        <option value="">Business Class</option>
                        <option value="">First Class</option>
                    </select>
                    </div><!--input-->
    
                    <div id="input2"><!--input2-->
                        <input type="number" id="input-group" placeholder="Adult">
                        <input type="number" id="input-group" placeholder="Children(2-11years)">
                        <input type="number" id="input-group" placeholder="infant(under 2years)">
                    </div><!--input2-->
    
                    <div id="input2"><!--input2-->
                      <input type="number" id="input-group" placeholder="Carry-on bag">
                      <input type="number" id="input-group" placeholder="Checked bag">
                  </div><!--input2-->
                   
                  
                    <button type="submit" class="btn btn-warning">Submit Form</button>
                    <button type="reset" class="btn btn-danger">Clear Form</button>
                </div>
    
            </form>
    
        </div>
    </body>
    </html>